* {
  box-sizing: border-box;
}

body {
  background-color: rgb(195, 224, 249);
  margin: 0;
  padding: 20px;
}

h1,
h2 {
  color: #132638;
  text-align: center;
}

form {
  background-color: rgba(229, 236, 242, 0.824);
  max-width: 200; /* que no ocupe toda la pantalla */
  margin: 0 auto 40px auto;
  padding: 20px 30px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

form div {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}

input,
textarea,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
}

button[type="submit"] {
  width: 100%;
  background-color: #0048b5;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

button[type="submit"]:hover {
  background-color: #4096dc;
}
ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 25px;
  list-style-type: none;
  padding: 0;
  max-width: 1200px;
  margin: 0 auto;
}

li {
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

li h3 {
  margin-top: 0;
  margin-bottom: 5px;
}

li button {
  margin-top: auto;
  width: 100%;
  font-weight: bold;
}
.botones {
  display: flex;
  gap: 10px;
  margin-top: auto;
  padding-top: 20px;
}

.botones button {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  flex: 1;
}

.botones button:hover {
  opacity: 0.8;
}